* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    color: yellowgreen;
    }

.Prueba{
    color: blue;
        font-size: 30px;
        font-family:sans-serif;
        }

.Prueba2{
    color: forestgreen;
    font-size: 50px;
    font-family:sans-serif;
        }

#unico{
    color: purple;
        }

.contenedor{
    background-color: bisque;
    height: 200px;
    padding: 20px;
}
.contenedor button{
    background-color: blueviolet;
    padding: 10px;
    border: 1px dotted black;
    border-radius: 10px;
    transition-duration: 500ms;
}

.contenedor button:hover{
    background-color: rgb(203,172,231);
    color: rgb(103,103,103);
    padding: 12px;
    border: 1px dotted black;
    border-radius: 10px;
}

h3{color: red}
h4{color: green}
a{color: violet}
p{color: aquamarine;
font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

div{ display: flex;
    background-color: aqua;
    border:1px solid black;
}

main{
    width: 100%;
    height: 500px;
    background-color: black;
    color: white;
    display: flex;
    
}
article{
    width:50%;
}
section{
    width: 100%;
    height: 50%;
    background-color: yellow;
    border: 1px solid blue;
    color: red;
}
aside{
    width: 50%;
    height: 100%;
    background-color: yellow;
    border: 1px solid blue;
    color: red;
}
